SECRET_KEY=<your-secret-key-here>
DB_NAME=<your-database-name-here>
DB_USER=<your-database-username-here>
DB_PASSWORD=<your-database-password-here>
DB_HOST=<your-database-host-here>
DB_PORT=< your-database-port-here>